@mixin reset-list {
  padding: 0;
  list-style: none;
}

@mixin width-xxl {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin width-xl {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin width-lg {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin width-md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin width-sm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin width-xs {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin style-x($class-name, $attr, $attr-from: 1, $attr-count: 10, $attr-step: 1, $unit: 'px') {
  $attr-list: null;

  @for $i from $attr-from through $attr-count {
    $attr-value: $attr-step * $i;

    .#{$class-name}-#{$i} {
      #{$attr}: #{$attr-value}#{$unit};
    }
  }
}
