.dropdown {
  position: absolute;
  top: calc(100% + 40px);
  right: -40px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: max-content;
  justify-items: end;
  gap: 16px;
  background-color: var(--color-background-modal);
  border-radius: 10px;
  padding: 25px 40px;
  z-index: 200000;
}
