$topPadding: 100px;

.orderFeed {
  display: grid;
  grid-template-columns: 620fr 600fr;
  gap: 60px;
  padding: 0 var(--gutter);
  box-sizing: border-box;
  max-width: calc(1240px + var(--gutter) * 2);
  width: 100%;
}

.orderList {
  padding: 0;
  margin: 0;

  max-height: calc(100vh - var(--header-height) - $topPadding);
  // height: 500px;
  overflow-y: auto;
}

.orderItem {
  list-style-type: none;
  padding-right: 8px;
  box-sizing: border-box;
}

.statistics {
  display: grid;
  align-content: start;
  grid-template:
    'done . pending'
    '. . .' 24px
    'doneList . pendingList'
    '. . .' 60px
    'totalTitle totalTitle totalTitle'
    'total total total'
    '. . .' 60px
    'totalTodayTitle totalTodayTitle totalTodayTitle'
    'totalToday totalToday totalToday'
    / auto 36px auto;
}

.list {
  list-style: none;
}

.listItem {
  margin: 0;
  padding: 0;
}

.done {
  grid-area: done;
}

.doneList {
  grid-area: doneList;
}

.pending {
  grid-area: pending;
}

.pendingList {
  grid-area: pendingList;
}

.totalTitle {
  grid-area: totalTitle;
}

.total {
  grid-area: total;
}

.totalTodayTitle {
  grid-area: totalTodayTitle;
}

.totalToday {
  grid-area: totalToday;
}
