.header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--color-background-modal);
  display: flex;
  align-items: center;
  position: relative;
}

.headerLogo {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.headerLogo_compact {
  width: 40px;
  height: 40px;
}
