.profile-layout {
  display: grid;
  grid-template:
    'nav content' 272px
    '. content' 80px
    'comment content'
    / minmax(120px, 320px) 1fr;
  align-content: start;
  gap: 0 60px;

  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}
