.modal {
  max-width: 720px;
  width: 100%;
  background-color: var(--color-background-modal);
  z-index: 200000;
  border: 1px solid var(--color-modal-edge);
  border-radius: var(--border-radius);
  padding: 40px 40px 60px 40px;
  box-sizing: border-box;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

