.header {
  width: 100%;
  min-height: var(--header-height);
  background-color: var(--color-background-modal);
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 var(--gutter);
  box-sizing: border-box;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;

}
