.burgerComponents {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 16px;
}

.burgerComponents__item_withDrag {
  display: grid;
  grid-template-columns: 52px 1fr;
  align-items: center;
  justify-items: end;
  gap: 8px;
}
