@use '../../styles/variables.scss' as *;

.burgerComponents {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  gap: 16px;
  box-sizing: border-box;
  width: 100%;
}

.burgerComponent__topBottom {
  padding-right: 2 * $scrollWidth;
  align-self: flex-end;
}

.burgerComponent_withDrag {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 2 * $scrollWidth;
}

.burgerComponents_middle {
  max-height: calc(
    ($burgerIngredientsMax * $burgerIngredientHeight) +
      (($burgerIngredientsMax - 1) * $burgerIngredientsGap)
  );
}

.emptyList {
  min-height: 80px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.emptyText {
  padding: 30px;
  max-height: 80px;
  min-width: 536px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--color-content-inactive);
  border-radius: 500px;
  text-align: center;
}

.emptyDrag {
  display: block;
  width: 32px;
}
