.order {
  max-width: 640px;
  width: 100%;
  max-height: 620px;
  height: 100%;
  color: var(--color-content-primary);

  display: grid;
  grid-template:
    'title title'
    '. .' 8px
    'status .'
    '. .' 60px
    'listTitle .'
    '. .' 24px
    'list list'
    '. .' 40px
    'date price'
    / auto auto;
}

.title {
  grid-area: title;
}

.status {
  grid-area: status;
}

.listTitle {
  grid-area: listTitle;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  gap: 16px;
  padding-right: 32px;

  max-height: 312px;
  overflow-y: auto;

  grid-area: list;
}

.date {
  grid-area: date;
}

.price {
  grid-area: price;
  place-self: end;
}
