:root {
  --color-background: #131316;
  --color-background-modal: #1c1c21;
  --color-background-modal-hover: #24242b;
  --color-overlay-modal: rgba(0 0 0 / 0.6);
  --color-modal-edge: rgba(76 76 76 / 0.2);
  --color-content-primary: #f2f2f3;
  --color-content-inactive: #8585ad;
  --color-ingredient-background: #2f2f37;

  --colors-interface-accent: #4c4cff;
  --colors-interface-accent-trans: #4c4cff88;
  --colors-interface-error: #e52b1a;
  --colors-interface-success: #00cccc;

  --color-scroll-thumb: #8585ad;
  --color-scroll-track: #2f2f37;

  --common-transition: all 0.3s ease-in;
  --fast-transition: all 0.15s ease-in;

  --gutter: 20px;
  --header-height: 88px;
  --top-padding: 120px;

  --border-radius: 40px;

  --transition-short: 0.2s;

  // =============================================

  --background: #1c1c21;
  --background-alt: #131316;
  --background-element: #2f2f37;
  --offset-base-variable: 2px;
  --top-constructor-item-border-radius: 88px 88px 40px 40px;
  --bottom-constructor-item-border-radius: 40px 40px 88px 88px;

  --common-border-radius: 64px;
  --common-border-radius-s: 40px;
  --text-primary-color: white;
  --text-inactive-color: #8585ad;
  --colors-interface-success: #00cccc;
  --colors-button-inactive: #3a3a55;
}

$scrollWidth: 8px;

$burgerIngredientHeight: 80px;
$burgerIngredientsGap: 16px;
$burgerIngredientsMax: 5;

@media (max-width: 992px) {
  :root {
    --gutter: 10px;
  }
}
