.container {
  display: flex;
}

.ellipsis_animate {
  overflow: hidden;

  &::after {
    display: inline-block;
    content: '...';
    animation: animate 1.2s steps(4, jump-none) infinite;
  }
}

@keyframes animate {
  0% {
    translate: -100%;
  }
}


// TODO: no span for ... animation. Only ::after
// .loading {
//   font-size: 26px;
// }

// .loading::after {
//   content: '.';
//   position: absolute;
//   animation: countdown 1.3s infinite linear forwards;
// }

// @keyframes countdown {
//   0% {
//     content: '.';
//   }

//   25% {
//     content: '.';
//   }

//   50% {
//     content: '..';
//   }

//   80% {
//     content: '...';
//   }

//   100% {
//     content: '...';
//   }
// }