.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 40px;
  padding: 0 var(--gutter);
  box-sizing: border-box;
  max-width: calc(1240px + var(--gutter) * 2);
  height: calc(100vh - var(--header-height));
  width: 100%;
  margin: 0 auto;
}
