.errorPage {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

}

.subtitle {
  max-width: 400px;
  min-width: 0;
  word-wrap: break-word;
  text-align: center;
}

.link {
  color: var(--color-content-primary);
}
