@use '../../../../styles/variables.scss' as *;

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  gap: 16px;
  box-sizing: border-box;
  width: 100%;
}

.bun {
  padding-right: 2 * $scrollWidth;
  margin-left: 32px;
}

.ingredients {
  max-height: calc(
    ($burgerIngredientsMax * $burgerIngredientHeight) +
      (($burgerIngredientsMax - 1) * $burgerIngredientsGap)
  );

  overflow-y: auto;
  overflow-x: hidden;
}
