.app {
  min-width: 375px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  box-sizing: border-box;
}

.main {
  display: flex;
  height: calc(100vh - var(--header-height));
  // align-items: center;
  // justify-content: center;
}
