$topPadding: 40px;

.orders {
  grid-area: content;
  margin-top: $topPadding;
}

.orders_empty {
  border: 1px solid var(--color-content-inactive);
  border-radius: var(--border-radius);
  height: calc(100vh - var(--header-height) - 2 * $topPadding);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 80px;
  text-align: center;
}

.comment {
  grid-area: comment;
}

.orderList {
  padding: 0;
  margin: 0;

  max-height: calc(100vh - var(--header-height) - $topPadding);
  overflow-y: auto;
}

.orderItem {
  list-style-type: none;
}
