.profile {
  display: grid;
  grid-template-columns: 320px 480px;
  align-items: start;
  gap: 0 60px;
  padding: 120px var(--gutter) 0;
  box-sizing: border-box;
  max-width: calc(1240px + var(--gutter) * 2);
  width: 100%;
  margin: 0 auto;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.navListItem {
  min-height: 64px;
  height: 100%;
  display: flex;
  align-items: center;
}

.link {
  min-width: 0;
  word-wrap: break-word;
  color: var(--color-content-inactive);
  transition: color var(--transition-short) ease-out;

  &:hover {
    color: var(--color-content-primary);
  }
}

.link_active {
  color: var(--color-content-primary);
}
