.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  color: var(--color-content-primary);
}

.modal__closeBtn {
  border: 0;
  padding: 3px;
  background-color: transparent;
  transition: opacity 0.3s ease-out;
  grid-area: close;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
