.main {
  font-family: 'Jet Brains Mono', monospace;
  background-color: var(--color-background);
  color: var(--color-content-primary);
  display: flex;
  justify-content: center;
  height: calc(100vh - var(--header-height));
}

.errorPage {
  height: calc(100vh - var(--header-height));
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
