.navItem__button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.navItem {
  position: relative;
  &:last-child {
    margin-left: auto;
  }
}

.link_active {
  > svg {
    fill: var(--color-content-primary);
  }

  > p {
    color: red;
  }
}
