@use '../../styles/variables.scss' as *;

.withDrag {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 2 * $scrollWidth;
  opacity: 1;
  transition: opacity 0.2s ease-out, scale 0.35s ease-out;

  &:hover {
    cursor: grab;
  }
}
