.nav {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  gap: 48px;
  align-items: center;
}

.navLast {
  margin-left: auto;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
