@use '../../../../styles/mixins.scss' as *;
@use '../../../../styles/variables.scss' as *;

$border: 3px;

.list {
  @include reset-list;
  margin: 0;
  display: flex;
  flex-flow: row;
  transform: translateX(-$ingrIconOverlap * $ingrIconNumber);
}

@for $i from 1 through $ingrIconNumber {
  .overlay-#{$i} {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 64px;
    max-height: 64px;
    height: 100%;
    box-sizing: border-box;
    aspect-ratio: 1;
    padding: 0;

    color: #fff;
    background: #000;
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: 100%;

    z-index: #{$i};
    transform: translateX(calc(#{$ingrIconOverlap} * #{$i}));
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%),
        linear-gradient(0deg, #131316, #131316);
    }
  }
}

.overlay-end {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 64px;
  box-sizing: border-box;
  aspect-ratio: 1;
  padding: 0;

  color: #fff;
  background: #000;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 100%;

  z-index: 0;
  transform: translateX($ingrIconOverlap);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%),
      linear-gradient(0deg, #131316, #131316);
  }

  &::before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    border-radius: inherit;
    background-color: var(--color-background);
  }
}

.icon {
  border-radius: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  background-color: var(--color-background);

  &-end {
    @extend .icon;
    opacity: 0.6;
    position: relative;
  }
}

.hide-count {
  position: absolute;
  z-index: 10;
}
