.notFound {
  display: flex;
  flex-flow: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.subtitle {
  max-width: 400px;
  min-width: 0;
  word-wrap: break-word;
  text-align: center;
}
