.card {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 0 16px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.ingredientItem__price {
  display: flex;
  gap: 9px;
}

.ingredientItem__title {
  text-align: center;
  min-height: 48px;
}

.ingredientItem__counter {
  position: absolute;
  top: 0;
  right: 0;
}
